<mat-card appearance="outlined">
  <mat-toolbar color="primary">Beers Detail</mat-toolbar>
  <mat-table>
    <mat-list>
      <mat-list-item><b>NAME : </b>{{ beer.name }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>TYPE :</b> {{ beer.type }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>ORIGIN :</b> {{ beer.origin }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>PRICE :</b> {{ beer.price }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>RATING :</b> {{ beer.rating }}</mat-list-item>
    </mat-list>
  </mat-table>
</mat-card>
