<mat-card>
  <mat-toolbar color="primary">Beer Details</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMessage("name") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" #type />
        <mat-hint align="end">{{ type.value.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('type')?.invalid">
          {{ getErrorMessage("type") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Origin</mat-label>
        <input matInput formControlName="origin" #origin />
        <mat-hint align="end">{{ origin.value.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('origin')?.invalid">
          {{ getErrorMessage("origin") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" #price min="0.01"/>
        <mat-hint align="end">{{ price.value.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('price')?.invalid">
          {{ getErrorMessage("price") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Rating</mat-label>
        <input matInput type="number" formControlName="rating" #rating min="0.01" max="5.00"/>
        <mat-hint align="end">{{ rating.value.length }} / 100</mat-hint>
        <mat-error *ngIf="form.get('rating')?.invalid">
          {{ getErrorMessage("rating") }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      type="submit"
    >
      Save
    </button>
    <button
      mat-raised-button
      (click)="onCancel()"
      class="btn-space"
      type="button"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
