<mat-card>
  <mat-toolbar color="primary">Beer Details</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" #name />
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMessage("name") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" #type />
        <mat-error *ngIf="form.get('type')?.invalid">
          {{ getErrorMessage("type") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Origin</mat-label>
        <mat-select formControlName="origin">
          <mat-option value=""> </mat-option>
          <mat-option
            *ngFor="let country of countries"
            [value]="country.name"
            >{{ country.name }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('origin')?.invalid">{{
          getErrorMessage("origin")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" #price />
        <mat-error *ngIf="form.get('price')?.invalid">
          {{ getErrorMessage("price") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Rating</mat-label>
        <input matInput type="number" formControlName="rating" #rating />
        <mat-error *ngIf="form.get('rating')?.invalid">
          {{ getErrorMessage("rating") }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>


  <mat-card  *ngIf="!isImageLoading">
    <mat-card-content>
      <img [src]="imageToShow" alt="Beer Image" >
    </mat-card-content>
  </mat-card>


  <input
    type="file"
    class="file-input"
    (change)="selectFile($event)"
    #fileUpload
  />

  <div class="file-upload">
    {{ fileName || "No file uploaded yet." }}

    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <div class="preview">
    <img [src]="preview" class="preview" />
  </div>

  <mat-card-actions class="actions-center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      type="submit"
    >
      Save
    </button>
    <button
      mat-raised-button
      (click)="onCancel()"
      class="btn-space"
      type="button"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
