@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




/*

@use '@angular/material' as mat;
@include mat.core();

$primary-dark: mat.define-palette(mat.$gray-palette, 600);
$accent-dark: mat.define-palette(mat.$pink-palette, 100);
$warn-dark: mat.define-palette(mat.$red-palette);

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $primary-dark,
    accent: $accent-dark,
    warn: $warn-dark
  ),
  typography: mat.define-typography-config(),
  density: 0,
 ));

@include mat.all-component-themes($theme-dark);
*/
